*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #FCE2DB;
}
body{
    background-color: #7A4495;
}
#home a{
    display: block;
    padding: 20px;
    width: 120px;
    background-color: #B270A2;
    border-radius: 10px;
    transition: 0.3s ease-in;
    margin: auto;
    font-size: 30px;
    text-decoration: none;
}

#home a:hover{
    background-color: #e7462e;
}

#container{
    height: auto;
    width: 100%;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    line-height: 1cm;

}

#blog1{
    background-color: #B270A2;
    border-radius: 20px;
    width: 80%;
    height: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#blog2{
    width: 80%;
    height: auto;
     padding: 20px;
      background-color: #B270A2;
    border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#blog3{
    width: 80%;
    height: auto;
     padding: 20px;
     background-color: #B270A2;
    border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 500px;
    border-radius: 10px;
}