* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
/* Header and navigation bar*/
#Header{
    position: fixed;
    min-width: 100%;
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#logo img{
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    object-fit: cover;

}
#menu-bar{
    margin-right: 30px;
    list-style: none;
    display: inline-flex;
    gap: 30px;
    overflow: hidden;
}

#menu {
    transition: 0.8s ease-in;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    color: aliceblue;;
}

#dropdown{
    list-style: none;
}

#drpbutton{
    transition: 0.8s ease-in;
    text-decoration: none;
    display: block;
    padding: 5px 12px;
    color: aliceblue;
}

#drp-item{
    padding: 10px;
    text-decoration: none;
    position: absolute;
    top: 53px;
    min-width: 95px;
    display: none;
   z-index: 1;
   
}

#drp-item a{
    color: aliceblue;
    text-decoration: none;
    padding: 3px 8px;
    display: block;
    transition: 0.8s ease-in;

}

#menu:hover, #dropdown:hover #drpbutton{
    color: brown;
}

#dropdown:hover #drp-item{
    display: block;
}
#drp-item a:hover{
   color: brown;
}

.hamburger-menu{
    margin-right: 10px;
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/* Header and navigation bar*/


/* Hero section*/
#hero{
    transition: 0.8s ease-in-out;
    transition-duration: 1s;
    transition-delay: 0.5s;
    padding: 10px;
    min-width: 100%;
    min-height: 760px;
  
    display: flex;
    flex-wrap: wrap;
}
#call-action{
    min-width: 60%;
    min-height: 760px;
}
#image-container{
    margin-left: 150px;
    margin-top: 100px;
    height: 400px;
    height: 400px;
}
#h-img{
    border-radius: 50%;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes rotation {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}










/* media query for mobile phones.*/
@media(max-width: 768px){
    .hamburger-menu{
        display: block;;
    }
    .hamburger-menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger-menu.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #menu-bar{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    #menu{
        margin: 16px 0;

    }
    #drp-item{
        border: 1px white solid ;
        transition: 0.8s ease-in;
        text-decoration: none;
        position: absolute;
        min-width: 200px;
        font-size: 20px;
        padding: 10px;
        top: 60px;
        left:400px;
        display: none;
    }
    #menu-bar.active{
        left: 0;
    }

}

