* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    color: #FCE2DB;
}
html{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  display: none;
  }
 
  
/* Header and navigation bar*/
#Header{
    position: fixed;
    top: 0px;
    align-items: center;
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    box-shadow: rgba(12, 2, 121, 0.04) 0px 3px 5px;
}
#logo {
    margin-left: 20px;
    font-style: oblique;
    font-size: 40px;
    color: #E9E8E8;
    
}
#menu-bar{
    margin-right: 30px;
    list-style: none;
    display: inline-flex;
    gap: 30px;
    overflow: hidden;
}

#menu {
    color: #E9E8E8;
    transition: 0.5s ease-in;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

#dropdown{
    list-style: none;
}

#drpbutton{
    color: #E9E8E8;
    transition: 0.5s ease-in;
    text-decoration: none;
    display: block;
    padding: 5px 12px;
}

#drp-item{
    padding: 10px;
    text-decoration: none;
    position: absolute;
    top: 53px;
    min-width: 95px;
    display: none;
   z-index: 1;
   
}

#drp-item a{
    text-decoration: none;
    padding: 3px 8px;
    display: block;
    transition: 0.5s ease-in;

}

#menu:hover, #dropdown:hover #drpbutton{
    color: #F99417;
    transform:scale(1.02);
}

#dropdown:hover #drp-item{
    display: block;
}
#drp-item a:hover{
   color: #F99417;
}

.hamburger-menu{
    margin-right: 10px;
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #E9E8E8;
}
/* Header and navigation bar*/


/* Hero section*/
#hero{
   background-image: url(/Portfolio-website/Portfoio-website/image/heroman.gif);
   background-repeat: no-repeat;
   background-size: cover;
    transition: 0.8s ease-in-out;
    transition-duration: 1s;
    transition-delay: 0.5s;
    padding: 10px;
    min-width: 100%;
    min-height: 790px;
    display: flex;
    flex-wrap: wrap;
    color: #E9E8E8;
}



#call-action{
  
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: #fef4f4;
    min-width: 50%;
    height: 500px;
  
}

#call-me{
    margin-left: 380px;
    margin-top: 50px;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    background-color: #f87204;
    max-width: 150px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: rgb(218, 204, 204);
}

#call-me:hover{
    filter: sepia(10);
    transition:0.5s ease-in;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}


/* About me section*/

#about-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
    transition: 0.5s ease-out;
    max-width: 100%;
    min-height: 700px;
    background-color: #7A4495;
    color: #DDD0C8;
    display: flex;
    flex-wrap: wrap;
}
#about-skills{
    height: 700px;
    min-width: 35%;
    
    padding: 10px;
}
#about-skills h1{
    padding: 10px;
    font-size: 55px;
    font-weight:bolder ;
}
#skills{
    margin-top: 150px;
    height: 500px;
    min-width: 500px;

}
#container{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    max-width: 100%;
     background-color: #B270A2;
    text-align: right;

}
#container h3{
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
#html{
    padding: 6px;
    width: 95%;
    background-color: #FF8FB1;
}

#css{
    padding: 6px;
    width: 90%;
    background-color: #FF8FB1;
}

#javascript{
    padding: 6px;
    width: 30%;
    background-color: #FF8FB1;
}

#python{
    padding: 6px;
    width: 50%;
    background-color: #FF8FB1;
}

#my-image{
    object-fit: cover;
    filter: grayscale(10);
    transition: 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#my-image:hover{
    cursor: pointer;
    filter: none;
    transform: scale(1.02);
}

#about-content{
  margin: auto;
    height: 700px;
    width:35% ;
    
}
#about-content h2{
    margin-top: 100px;
    text-align: center;
}

#about-content h3{
    border-radius: 5px;
    margin-left: 20px;
    display: block;
    text-align: center;
    width: 380px;
    font-size: 40px;
}
#about-content h4{
    margin-left: 20px;
}

#contents-0{
    padding: 20px;

}
#anist-insta{
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    margin: auto;

}

/* portfolio*/
#portfolio-container{
    width: 100%;
    max-height: 1200px;
    background-color: #B270A2;
    color: #E9E8E8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#portfolio-container h1{
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 999999;
}
#gallery-container{
    width: 1000px;
    height: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
#first-section{
    margin-left: 40px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 900px;
}
#first-section img{
    margin-top: 20px;
}

#second-section{
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 900px;
}

#second-section img{
    margin-top: 20px;
}
#img5, #img6{
    float: left;
    margin-top: 20px;
    gap: 10px;
}
#img6{
    margin-left: 20px;
}
#img7{
    margin-top: 80px;
}

#gallery-container img{
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s ease-in;
}

#gallery-container img:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.02);
    filter: saturate(2);
}


/*Blog section*/

#blog-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100%;
    height: 600px;
    background-color: #b04094;
    color: #E9E8E8;
}
#blog-container h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
#blog-container img{
    object-fit: cover;
    overflow: hidden;
}
#bloggin{
    margin: auto;
    width: 90%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
}

#box{
    height: 400px;
    width: 400px;
    background-color: #e09b80;
    margin-left: 40px;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.3s ease-in;
}
#box a{
    text-decoration: none;
    text-align: center;
    color: #333;
}

#box:hover{
    transform: translateY(-20px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*Contact-container*/
#contact-container{
    width: 100%;
    height: 700px;
    background-color: #852999;
    color: #E9E8E8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#contact-container h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 20px;
}

#contact-info{
    width: 80%;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#contact-num{
    width: 30%;
    height: 600px;
    padding-top: 100px;
    padding-left: 40px;

}
#contact-num p{
    margin-top: 10px;
    margin-bottom: 20px;
}

#contact-form{
    margin-top: 50px;
    width: 70%;
    height: 550px;
}

input[type="text"]{
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;
    padding: 15px;
    border-radius: 30px;
}

input[type="email"]{
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;
    padding: 15px;
    border-radius: 30px;
}

#subject{
    margin-top: 30px;
    margin-left: 30px;
    width: 740px;
    padding: 15px;
    border-radius: 30px;
}
textarea{
    margin-top: 30px;
    margin-left: 30px;
    width: 740px;
    border-radius: 10px;
    height: 200px;
}

input[type="submit"]{
    width: 200px;
    float: right;
    border-radius: 30px;
    padding: 10px;
    margin-right: 80px;
    margin-top: 30px;
    background-color: #FFCC70;
    color:rgb(14, 13, 13);
    transition: 0.3s ease;
}

input[type="submit"]:hover{
    background-color: #e09b80;
    cursor: pointer;
}

/*footer section */

#footer{
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: #323232;
    color: antiquewhite;
   padding-top: 100px;
   display: block;
}
i:hover{
    color: #b04094;
}

#icons{
    font-size: 30px;
}















/* media query for mobile phones.*/
@media(max-width: 768px){
    .hamburger-menu{
        display: block;;
    }
    .hamburger-menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger-menu.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #menu-bar{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #B270A2;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 9999;
    }

    #menu{
        margin: 16px 0;

    }
    #drp-item{
        border: 1px white solid ;
        transition: 0.8s ease-in;
        text-decoration: none;
        position: absolute;
        min-width: 100px;
        font-size: 20px;
        padding: 10px;
        top: 70px;
        left:400px;
        display: none;
    }
    #menu-bar.active{
        left: 0;
    }

    #call-me{
        margin-top: 50px;
        margin-left: 180px;
    }
    #my-image{
        width: 100%;
    }

    #about-content{
        width: 100%;
    }

    #portfolio-container{
        height: auto;
        position: relative;
        overflow: scroll;
    }

    #gallery-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #second-section{
        margin-left: 40px;
    }
    #blog-container{
        overflow: scroll;
    }

    #contact-container{
        width: 100%;
        height: auto;
    }

    #contact-form{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

   #subject{
    width: 80%;
   }

   textarea{
    width: 100%;
   }
}


